

<h1>Anagram Generator</h1>
 
<% if @error %>
<div class="alert alert-danger">
<p class='error'>
    <%= "#{@error}" %>
</p>
    </div>
    <% end %>

<form action="/" method="post" class="form">
  <div>
  	<label for="word">Enter a three letter word:</label>
  	<p><input type="text" name="word" placeholder="ex. cat, hat,..."></p>
  </div>
  <button type="submit" class="btn btn-default">Give me my anagram!</button>
</form>