<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css" >
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Anagrams Generator</title>
</head>
  <body>
    <div class="container">
    	<div class="well">
          <%= yield %>
        </div>
      </div>
  </body>
  <div>
  <footer>Coded by : <em>Kyleigh Knight</em></footer>
  </div>
</html>