<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css" >
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Anagrams Generator</title>
</head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Anagram Generator</a>
             </div>
    <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
              <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="http://kyknight.github.io">About the Developer</a></li>
            <li><a href="https://www.linkedin.com/in/kyleigh-knight-139b04124">Connect with Developer</a></li>
          </ul>
      </div>
        </div>
    </nav>


    <div class="container">
    <center>
    	<div class="well well-sm">
          <%= yield %>
        </div>
    </center>
    </div>
  </body>
  <div>
  <footer>Coded by : <em>Kyleigh Knight</em></footer>
  </div>
</html>